<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="elasticcloudconnection" value="http://441a52b02469b5d39f614fb2d492734f.us-east-1.aws.found.io:9200/" />-->
    <add key="elasticcloudconnection" value="http://localhost:9200/" />
    <add key="username" value="elastic" />
    <add key="password" value="Z1xZjEj5VPUgQq2PzlYADicN" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>